################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnnamedEngine/.vs/VSProject/v15
/UnnamedEngine/Debug
/UnnamedEngine/resources/examples/asteroids/settings
/UnnamedEngine/resources/examples/asteroids/models
/UnnamedEngine/resources/examples/asteroids/fonts
/UnnamedEngine/resources/examples/asteroids/audio
/UnnamedEngine/resources/examples/asteroids/skybox
/UnnamedEngine/resources/examples/asteroids/textures
/UnnamedEngine/resources/fonts
/UnnamedEngine/resources/shaders/vulkan
/UnnamedEngine/resources/objects/plain_sphere.model
/UnnamedEngine/resources/objects
/UnnamedEngine/resources/examples/asteroids/logs.txt
/UnnamedEngine/resources/examples/asteroids/highscores.txt
/UnnamedEngine/resources/shaders-vulkan/VulkanShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/VulkanShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/VulkanLightingShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/VulkanLightingShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/terrain/Terrain_complete.vert
/UnnamedEngine/resources/shaders-vulkan/terrain/Terrain_complete.frag
/UnnamedEngine/resources/shaders-vulkan/SkyBoxShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/SkyBoxShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/MaterialShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/MaterialShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/lighting/LightingShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/lighting/LightingShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/FontShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/FontShader_complete.frag
/UnnamedEngine/x64/Debug
/UnnamedEngine/VSProject.vcxproj.user
/UnnamedEngine/VSProject.vcxproj.filters
/UnnamedEngine/VSProject.vcxproj
/UnnamedEngine/VSProject.sln
/UnnamedEngine/glfw3.dll
/UnnamedEngine/glew32.dll
/UnnamedEngine/freetype.dll
/UnnamedEngine/boost_filesystem-vc141-mt-gd-x64-1_70.dll
/UnnamedEngine/assimp-vc140-mt.dll
/UnnamedEngine/resources/textures
/UnnamedEngine/x64/Release
/UnnamedEngine/boost_filesystem-vc141-mt-x64-1_70.dll
/.gitattributes
/UnnamedEngine/.vs/VSProject/v16
/UnnamedEngine/UnnamedEngine.licenseheader
/UnnamedEngine/boost_filesystem-vc142-mt-x64-1_72.dll
/UnnamedEngine/boost_filesystem-vc142-mt-gd-x64-1_72.dll
/UnnamedEngine/run_vulkan.bat
/UnnamedEngine/run_opengl.bat
/UnnamedEngine/both.bat
/UnnamedEngine/vk_layer_settings.txt
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowCubemapShader_UE_SKINNING_complete.vert
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowCubemapShader_UE_SKINNING_complete.geom
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowCubemapShader_UE_SKINNING_complete.frag
/UnnamedEngine/resources/shaders-vulkan/lighting/LightingShader_UE_SKINNING_complete.vert
/UnnamedEngine/resources/shaders-vulkan/lighting/LightingShader_UE_SKINNING_complete.frag
/UnnamedEngine/resources/shaders-vulkan/basicpbr/PBRShader_UE_SKINNING_complete.vert
/UnnamedEngine/resources/shaders-vulkan/basicpbr/PBRShader_UE_SKINNING_complete.frag
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowMapShader_UE_SKINNING_complete.vert
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowMapShader_UE_SKINNING_complete.frag
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowCubemapShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowCubemapShader_complete.geom
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowCubemapShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowMapShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/lighting/ShadowMapShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/FontSDFShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/FontSDFShader_complete.frag
/UnnamedEngine/resources/shaders-vulkan/basicpbr/PBRShader_complete.vert
/UnnamedEngine/resources/shaders-vulkan/basicpbr/PBRShader_complete.frag
