################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnnamedEngine/VSProject.vcxproj.user
/UnnamedEngine/VSProject.vcxproj.filters
/UnnamedEngine/VSProject.vcxproj
/UnnamedEngine/VSProject.sln
/UnnamedEngine/glfw3.dll
/UnnamedEngine/glew32.dll
/UnnamedEngine/freetype.dll
/UnnamedEngine/boost_filesystem-vc141-mt-x64-1_70.dll
/UnnamedEngine/boost_filesystem-vc141-mt-gd-x64-1_70.dll
/UnnamedEngine/assimp-vc140-mt.dll
/UnnamedEngine/.vs/VSProject/v15
/UnnamedEngine/Debug
/UnnamedEngine/resources/examples/asteroids/textures
/UnnamedEngine/resources/examples/asteroids/skybox
/UnnamedEngine/resources/examples/asteroids/settings
/UnnamedEngine/resources/examples/asteroids/models
/UnnamedEngine/resources/examples/asteroids/logs.txt
/UnnamedEngine/resources/examples/asteroids/highscores.txt
/UnnamedEngine/resources/examples/asteroids/fonts
/UnnamedEngine/resources/examples/asteroids/audio
/UnnamedEngine/resources/objects
/UnnamedEngine/resources/fonts
/UnnamedEngine/resources/textures
/UnnamedEngine/x64
/.gitattributes
/.vs/UnnamedEngine2/v15
/.vs
/UnnamedEngine/.vs/VSProject/v16
/UnnamedEngine/resources/shaders-vulkan/
/UnnamedEngine/run_vulkan.bat
/UnnamedEngine/run_opengl.bat
/UnnamedEngine/both.bat
/UnnamedEngine/boost_filesystem-vc142-mt-x64-1_73.dll
/UnnamedEngine/assimp-vc142-mt.dll
/UnnamedEngine/UnnamedEngine.licenseheader
/UnnamedEngine/boost_system-vc143-mt-x64-1_79.dll
/UnnamedEngine/boost_filesystem-vc143-mt-x64-1_79.dll
/UnnamedEngine/boost_atomic-vc143-mt-x64-1_79.dll
/UnnamedEngine/assimp-vc143-mt.dll
/UnnamedEngine/.vs/VSProject/v17
/UnnamedEngine/zlib1.dll
/UnnamedEngine/turbojpeg.dll
/UnnamedEngine/libpng16.dll
/UnnamedEngine/jpeg62.dll
/UnnamedEngine/Irrlicht.dll
/UnnamedEngine/bz2.dll
/UnnamedEngine/brotlienc.dll
/UnnamedEngine/brotlidec.dll
/UnnamedEngine/brotlicommon.dll
