################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnnamedEngine/VSProject.vcxproj.user
/UnnamedEngine/VSProject.vcxproj.filters
/UnnamedEngine/VSProject.vcxproj
/UnnamedEngine/VSProject.sln
/UnnamedEngine/.vs/VSProject/v15/Browse.VC.opendb
/UnnamedEngine/.vs/VSProject/v15/Browse.VC.db
/UnnamedEngine/.vs/VSProject/v15/.suo
/UnnamedEngine/.vs/VSProject/v15
/.vs/VSWorkspaceState.json
/.vs/UnnamedEngine2/v15/Browse.VC.db
/.vs/UnnamedEngine2/v15/.suo
/.vs/UnnamedEngine2/v15
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/.gitattributes
/UnnamedEngine/Debug
/UnnamedEngine/resources/examples/asteroids/audio
/UnnamedEngine/resources/examples/asteroids/fonts
/UnnamedEngine/resources/examples/asteroids/models
/UnnamedEngine/resources/examples/asteroids/settings
/UnnamedEngine/resources/examples/asteroids/skybox
/UnnamedEngine/resources/examples/asteroids/textures
/UnnamedEngine/resources/examples/asteroids
/UnnamedEngine/resources/fonts
/UnnamedEngine/resources/objects
/UnnamedEngine/resources/shaders/vulkan
/UnnamedEngine/resources/shaders-vulkan
/UnnamedEngine/resources/textures
/UnnamedEngine/x64
/UnnamedEngine/glfw3.dll
/UnnamedEngine/glew32.dll
/UnnamedEngine/freetype.dll
/UnnamedEngine/boost_filesystem-vc141-mt-x64-1_70.dll
/UnnamedEngine/boost_filesystem-vc141-mt-gd-x64-1_70.dll
/UnnamedEngine/assimp-vc140-mt.dll
/UnnamedEngine/boost_filesystem-vc142-mt-x64-1_72.dll
/UnnamedEngine/boost_filesystem-vc142-mt-gd-x64-1_72.dll
/UnnamedEngine/.vs
/UnnamedEngine/UnnamedEngine.licenseheader
/UnnamedEngine/run_vulkan.bat
/UnnamedEngine/run_opengl.bat
/UnnamedEngine/both.bat
/UnnamedEngine/vk_layer_settings.txt
/UnnamedEngine/boost_filesystem-vc142-mt-x64-1_73.dll
/UnnamedEngine/assimp-vc142-mt.dll
/UnnamedEngine/resources/shaders/raytracing/raygen.rgen.spv
/UnnamedEngine/resources/shaders/raytracing/miss.rmiss.spv
/UnnamedEngine/resources/shaders/raytracing/closesthit.rchit.spv
/UnnamedEngine/resources/shaders/raytracing/2/raygen.rgen.spv
/UnnamedEngine/resources/shaders/raytracing/2/miss.rmiss.spv
/UnnamedEngine/resources/shaders/raytracing/2/compile.bat
/UnnamedEngine/resources/shaders/raytracing/2/closesthit.rchit.spv
/UnnamedEngine/resources/shaders/raytracing/2
/UnnamedEngine/resources/shaders/raytracing/1/raygen.rgen.spv
/UnnamedEngine/resources/shaders/raytracing/1/miss.rmiss.spv
/UnnamedEngine/resources/shaders/raytracing/1/compile.bat
/UnnamedEngine/resources/shaders/raytracing/1/closesthit.rchit.spv
